* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Luckiest Guy", cursive;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    overflow-x: hidden !important;
    width: 100%;
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}

.section {
    transition: transform 0.3s ease;
}


.hero_bg {
    background-image: url(/assets/images/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

p {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/* about  */
.about {
    background-image: url(/assets/images/layar-top.png);
    background-repeat: no-repeat;
    width: 100%;
}

.grid-bg {
    background-image: linear-gradient(to bottom, #000, #000, #44353a, #44353a, #44353a, #3f3136, #392d31, #34292d, #282023, #1d181a, #120f10, #000000);
}

.roadmap {
    position: relative;
    border: 1px solid rgb(255 255 255 / 13%);
    background-image: linear-gradient(to bottom, #3b3838, #3b3838, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718, #1c1718);
}

.commeuntiy {
    background-image: url(/assets/images/commeuntiy-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 708px;
    background-size: cover;
}


.videos {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.videos video {
    width: 20vw;
    height: 100%;
}


/* animations  */
/* nav animation  */
.nav-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-item.animate {
    opacity: 1;
    transform: translateY(0);
}



@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

.bounce {
    animation:
        bounce 300ms alternate infinite cubic-bezier(.2, .65, .6, 1);
}


.leftright {
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% {
        right: 0;
    }

    50% {
        right: 100px;
        /* Move 100px to the right */
    }

    100% {
        right: 0;
    }
}

.leftright2 {
    animation: leftright2bounce 2s linear infinite;
}



@keyframes leftright2bounce {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: 100px;
        /* Move 100px to the right */
    }
}

.zoom {
    animation: zoom 2s linear infinite;
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

@keyframes zoom {
    0% {
        left: 0;
    }

    50% {
        left: 100px;
        /* Move 100px to the right */
    }

    100% {
        left: 0;
    }
}



.noscroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.leftrightanimation {

    animation: moveLeftRight 3s ease-in-out infinite;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
        /* Moves the element 100px to the right */
    }

    100% {
        transform: translateX(0);
        /* Moves the element back to the original position */
    }
}

.topbuttomanimation {

    animation: moveTopBottom 3s ease-in-out infinite;
}

@keyframes moveTopBottom {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
        /* Moves the element 100px to the right */
    }

    100% {
        transform: translateY(0);
        /* Moves the element back to the original position */
    }
}





@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .hero_bg {
        height: 1600px;
        background-size: cover;
    }

    .commeuntiy {
        height: 1180px;
    }
}

@media screen and (max-width: 480px) {
    .hero_bg {
        height: 350vw;
        background-size: cover;
    }

    .commeuntiy {
        height: 1180px;
    }

    .videos {
        padding: 0 5vw;
        margin-bottom: 5vw;
    }

    .videos video {
        width: 30vw;
    }
}