/* flex  */

.flex {
    display: flex;
}

.fw {
    display: flex;
    flex-wrap: nowrap;
}

/* item  */

.aic {
    display: flex;
    align-items: center;
}

.ais {
    display: flex;
    align-items: start;
}

/* jusctify  */

.jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}


.jcb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jcs {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* jusctify  */



/* gaps  */
.gap4 {
    display: flex;
    gap: 4px;
    align-items: center;
}

.gap8 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.gap12 {
    display: flex;
    gap: 12px;
    align-items: center;
}

.gap16 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.gap24 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.gap28 {
    display: flex;
    gap: 28px;
    align-items: center;
}

.gap32 {
    display: flex;
    gap: 32px;
    align-items: center;
}

.gap36 {
    display: flex;
    gap: 36px;
    align-items: center;
}

.gap40 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.gap44 {
    display: flex;
    gap: 44px;
    align-items: center;
}

.gap48 {
    display: flex;
    gap: 48px;
    align-items: center;
}

.gap52 {
    display: flex;
    gap: 52px;
    align-items: center;
}

.gap56 {
    display: flex;
    gap: 56px;
    align-items: center;
}

.gap60 {
    display: flex;
    gap: 60px;
    align-items: center;
}

.gap64 {
    display: flex;
    gap: 64px;
    align-items: center;
}

.gap68 {
    display: flex;
    gap: 68px;
    align-items: center;
}

.gap72 {
    display: flex;
    gap: 72px;
    align-items: center;
}

.gap76 {
    display: flex;
    gap: 76px;
    align-items: center;
}

.gap80 {
    display: flex;
    gap: 80px;
    align-items: center;
}

.gap84 {
    display: flex;
    gap: 84px;
    align-items: center;
}

.gap88 {
    display: flex;
    gap: 88px;
    align-items: center;
}

.gap92 {
    display: flex;
    gap: 92px;
    align-items: center;
}

.gap96 {
    display: flex;
    gap: 96px;
    align-items: center;
}

.gap100 {
    display: flex;
    gap: 100px;
    align-items: center;
}

/* gaps  */