@font-face {
  font-family: "Space Boards DEMO";
  src: url("../fonts/FontsFree-Net-Spaceboardsdemo-8MyRB.ttf")
    format("truetype");
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}

/* ================= header ====================== */
#header {
  background-color: #0c0000;
}

#header-button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(
    --btn-color,
    radial-gradient(
      50% 50% at 50% 50%,
      #eb5757 0%,
      rgba(235, 87, 87, 0.67) 31.25%,
      rgba(235, 87, 87, 0) 100%
    ),
    conic-gradient(
      from 180deg at 50% 50%,
      #5792eb 0deg,
      #f24ae1 90deg,
      #ff3535 180deg,
      #febf1e 270deg,
      #5792eb 360deg
    )
  );
  color: #fff;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

#logo {
  font-family: "Space Boards DEMO";
  font-size: 36.625px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(
    --red-gradient,
    linear-gradient(84deg, #ff1d1d 7.52%, #ffcb13 103.06%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo > span#logo-span {
  color: #fff;
  font-family: "Sansation", sans-serif;
  background: #fff;
  font-size: 36.625px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-clip: text;
  -webkit-background-clip: text;
}

/* ================= header ends ====================== */

/* ================== hero section ========================= */

#hero {
  background: #0c0000;
  background-image: url(../images/hero-bg.png);
  width: 100%;
  height: 895px;
  display: flex;
  align-items: center;
}

#hero-image {
  width: 60%;
  /* Adjust the width of the image */
  height: auto;
  margin-right: -110px;
  /* Add some space between the image and text */
}

#hero-text {
  width: 40%;
  /* Adjust the width of the text */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 110px;
  max-width: 400px;
  /* Specific width for the text */
}

#hero-text h1,
#hero-text p {
  color: white;
}

#hero-header {
  color: #fff;
  font-family: Sora;
  /* font-size: 62px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* width: 679px; */
}

#hero-sub {
  color: #d2d2d2;
  font-family: Poppins;
  /* font-size: 22px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* width: 513px; */
}

/* work */
@media (max-width: 768px) {
  #hero-text {
    max-width: none;
    /* Remove specific width for smaller screens */
    white-space: normal;
    /* Allow text wrapping */
    overflow: visible;
    /* Show overflowing text */
    text-overflow: clip;
    /* Prevent text from being clipped */
  }

  #hero-image {
    max-width: 100%;
    /* Ensure image takes full width on smaller screens */
  }
}

/* ================== hero section ends ========================= */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

/* Global */

.countdown {
  /* width: 720px; */
  margin: 0 auto;
  gap: 20px;
}
.countdown .bloc-time {
  float: left;
  /* margin-right: 45px; */
  text-align: center;
}
.countdown .bloc-time:last-child {
  /* margin-right: 0; */
}
.countdown .count-title {
  display: block;
  margin-bottom: 15px;
  font: normal 0.94em "Lato";
  font-family: Sora;
  color: #fff;
  text-transform: uppercase;
}
.countdown .figure {
  position: relative;
  float: left;
  height: 110px;
  width: 100px;
  margin-right: 5px;
  /* background-color: transparent; */
  background-color: #fff;
  border-radius: 8px;
  border-color: #fff;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure:last-child {
  margin-right: 0;
}
.countdown .figure > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font: normal 5.94em/107px "Lato";
  font-family: Sansation, sans-serif;
  line-height: normal;
  font-weight: 700;
  background: var(
    --red-gradient,
    linear-gradient(84deg, #ff1d1d 7.52%, #ffcb13 103.06%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.countdown .figure .top:after,
.countdown .figure .bottom-back:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.countdown .figure .top {
  z-index: 3;
  background-color: #f7f7f7;
  /* background-color: transparent; */

  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -webkit-transform: perspective(200px);
  transform: perspective(200px);
}
.countdown .figure .bottom {
  z-index: 1;
}
.countdown .figure .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  /* background-color: transparent; */

  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.countdown .figure .bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.countdown .figure .top,
.countdown .figure .top-back {
  height: 50%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.countdown .figure .top-back {
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  /* background-color: transparent; */

  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: perspective(200px) rotateX(180deg);
  -ms-transform: perspective(200px) rotateX(180deg);
  -webkit-transform: perspective(200px) rotateX(180deg);
  transform: perspective(200px) rotateX(180deg);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}

.countdown .bloc-time .wrap {
  display: flex;
}

#9f39267 {
  width: 30% !important;
}

@media (max-width: 768px) {
  .countdown {
    width: 100%;
    flex-direction: column;
  }
  .bloc-time {
    float: none;
    margin: 0 auto 30px;
  }
  .figure {
    margin-right: 5px;
    width: 80px;
    height: 80px;
  }
  #9f39267 {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .countdown {
    width: 100%;
    flex-direction: column;
  }
  .figure {
    width: 60px;
    height: 60px;
  }
  #9f39267 {
    width: 100% !important;
  }
}
