.elementor-7 .elementor-element.elementor-element-8fc033b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-7 .elementor-element.elementor-element-8fc033b:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-8fc033b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F61D3B;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-8fc033b,
.elementor-7 .elementor-element.elementor-element-8fc033b::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-c281c3e {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-328d09b {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e5b3974 {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-e5b3974 img {
    max-width: 31%;
}

.elementor-7 .elementor-element.elementor-element-e69a4a8 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-46be0fd {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-7 .elementor-element.elementor-element-46be0fd .elementor-widget-container {
    text-align: right;
}

.elementor-7 .elementor-element.elementor-element-46be0fd .elementor-social-icon {
    background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-46be0fd .elementor-social-icon i {
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-46be0fd .elementor-social-icon svg {
    fill: #000000;
}

.elementor-7 .elementor-element.elementor-element-e271e79 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-020699f {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-600356b img {
    max-width: 50%;
}

.elementor-7 .elementor-element.elementor-element-c147059 {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-0984ac5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: -2px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 30px;
    --padding-right: 30px;
    --z-index: 3;
}

.elementor-7 .elementor-element.elementor-element-0984ac5:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-0984ac5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F61D3B;
}

.elementor-7 .elementor-element.elementor-element-0984ac5,
.elementor-7 .elementor-element.elementor-element-0984ac5::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-8e29a38 {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-903ed0e {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-9479e5a {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-a4479cb img {
    max-width: 74%;
}

.elementor-7 .elementor-element.elementor-element-ee92d33 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-a1dd483 {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-a1dd483 img {
    max-width: 76%;
}

.elementor-7 .elementor-element.elementor-element-97357c7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Jua", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
}

.elementor-7 .elementor-element.elementor-element-12b5c11 {
    --display: flex;
    --background-transition: 0.3s;
    border-style: dotted;
    --border-style: dotted;
    border-width: 3px 3px 3px 3px;
    --border-top-width: 3px;
    --border-right-width: 3px;
    --border-bottom-width: 3px;
    --border-left-width: 3px;
    border-color: #000000;
    --border-color: #000000;
}

.elementor-7 .elementor-element.elementor-element-12b5c11:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-12b5c11>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFF300;
}

.elementor-7 .elementor-element.elementor-element-12b5c11,
.elementor-7 .elementor-element.elementor-element-12b5c11::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-12b5c11.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-7 .elementor-element.elementor-element-6434ae5 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-6434ae5 .elementor-heading-title {
    color: #000000;
    font-family: "Jua", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
}

.elementor-7 .elementor-element.elementor-element-7ce6fc7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --overlay-opacity: 1;
    --margin-top: -2px;
    --margin-bottom: -2px;
    --margin-left: -2px;
    --margin-right: -2px;
}

.elementor-7 .elementor-element.elementor-element-7ce6fc7::before,
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.elementor-background-video-container::before,
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.e-con-inner>.elementor-background-video-container::before,
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.elementor-background-slideshow::before,
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.e-con-inner>.elementor-background-slideshow::before,
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-image: url("https://santapig.fun/wp-content/uploads/2024/12/Asset-18.png");
    --background-overlay: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-7ce6fc7:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-7ce6fc7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #992549;
}

.elementor-7 .elementor-element.elementor-element-7ce6fc7,
.elementor-7 .elementor-element.elementor-element-7ce6fc7::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-9a673f7 {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-ab19ba7 {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-9ae0ee2 {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-8530866 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-faa3b8a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Jua", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
}

.elementor-7 .elementor-element.elementor-element-e46b1e9 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-7 .elementor-element.elementor-element-e46b1e9 .elementor-widget-container {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-e46b1e9 .elementor-social-icon {
    background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-e46b1e9 .elementor-social-icon i {
    color: #000000;
}

.elementor-7 .elementor-element.elementor-element-e46b1e9 .elementor-social-icon svg {
    fill: #000000;
}

.elementor-7 .elementor-element.elementor-element-ebe5edd {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-ab21c85 {
    --spacer-size: 50px;
}

.elementor-7 .elementor-element.elementor-element-dd5c420 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-dd5c420:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-dd5c420>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-7 .elementor-element.elementor-element-dd5c420,
.elementor-7 .elementor-element.elementor-element-dd5c420::before {
    --border-transition: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-98107c3 {
    text-align: center;
}

.elementor-7 .elementor-element.elementor-element-98107c3 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Jua", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

@media(min-width:768px) {
    .elementor-7 .elementor-element.elementor-element-12b5c11 {
        --width: 45.964%;
    }
}

@media(max-width:1024px) {
    .elementor-7 .elementor-element.elementor-element-c281c3e {
        --grid-auto-flow: row;
    }

    .elementor-7 .elementor-element.elementor-element-903ed0e {
        --grid-auto-flow: row;
    }

    .elementor-7 .elementor-element.elementor-element-9ae0ee2 {
        --grid-auto-flow: row;
    }
}

@media(max-width:767px) {
    .elementor-7 .elementor-element.elementor-element-c281c3e {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }

    .elementor-7 .elementor-element.elementor-element-e5b3974 {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-e5b3974 img {
        max-width: 76%;
    }

    .elementor-7 .elementor-element.elementor-element-46be0fd .elementor-widget-container {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-600356b img {
        max-width: 100%;
    }

    .elementor-7 .elementor-element.elementor-element-c147059 {
        --spacer-size: 10px;
    }

    .elementor-7 .elementor-element.elementor-element-8e29a38 {
        --spacer-size: 10px;
    }

    .elementor-7 .elementor-element.elementor-element-903ed0e {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }

    .elementor-7 .elementor-element.elementor-element-a1dd483 {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-97357c7 {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-97357c7 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-7 .elementor-element.elementor-element-6434ae5 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-7 .elementor-element.elementor-element-9a673f7 {
        --spacer-size: 10px;
    }

    .elementor-7 .elementor-element.elementor-element-9ae0ee2 {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }

    .elementor-7 .elementor-element.elementor-element-faa3b8a {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-faa3b8a .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-7 .elementor-element.elementor-element-e46b1e9 .elementor-widget-container {
        text-align: center;
    }

    .elementor-7 .elementor-element.elementor-element-ab21c85 {
        --spacer-size: 10px;
    }
}