/*-- global --*/

:root {
  --clr-1: #111111;
  --clr-2: #ffffff;
  --clr-3: #F6182D;
  --clr-4: #F6182D;

  --clr-bg-1: #222222;
  --clr-bg-2: #333333;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
button {
  font-family: "Nerko One", sans-serif;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;

  text-shadow: -2px -2px 0 var(--clr-2), 2px -2px 0 var(--clr-2),
    2px 2px 0 var(--clr-2), -2px 2px 0 var(--clr-2);
}
h2 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

h5 {
  font-size: 2rem;
}

p,
li,
a,
button {
  font-size: 2rem;
}

a {
  color: var(--clr-2);
  transition: 0.3s;
}
a:hover {
  color: var(--clr-3);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--clr-1);
}
::-webkit-scrollbar-track {
  border-left: none;
}
::-webkit-scrollbar-thumb {
  background: var(--clr-3);
}
